body {
    font-family: 'Pokemon Solid', sans-serif; /* Use the Pokémon font */
    background-color: #f0f0f0; /* Light gray background */
    margin: 0;
    color: #333; /* Dark gray text color */
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 200px;
}

.search-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distribute elements evenly */
}

.search-container select,
.search-container input,
.search-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
    padding: 20px;
}

.pokemon-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center;
}

.pokemon-card img {
    max-width: 150px;
    margin-bottom: 10px;
}

.pokemon-card h2 {
    margin-bottom: 5px;
}

.pokemon-card p {
    color: #777;
    font-size: 0.9em;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue button */
    color: #fff;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column; /* Stack elements vertically */
        align-items: stretch; /* Stretch elements to full width */
    }
    .search-container select,
    .search-container input,
    .search-container button {
        margin-bottom: 10px;
    }
}
