body {
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #000;
    margin: 0;
    color: #fff;
}

header {
    background: linear-gradient(to bottom, #333, #111); /* Gradient header */
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 200px;
}

.search-container {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-container select,
.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.pokemon-card {
    background: linear-gradient(to bottom, #222, #111); /* Gradient cards */
    border: 1px solid #555; /* Darker border */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
    text-align: center;
}

.pokemon-card img {
    max-width: 150px;
    margin-bottom: 10px;
}

.pokemon-card h2 {
    margin-bottom: 5px;
}

.pokemon-card p {
    color: #aaa;
    font-size: 0.9em;
}

.type-icon { /* Style for type icons */
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #222;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: white;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#modal-content {
    text-align: center;
}

#modal-content img {
    max-width: 200px;
    margin-bottom: 10px;
}

#modal-content h2 {
    margin-bottom: 5px;
}

#modal-content p {
    color: #ddd;
}

/* Search Bar Styling */
.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 30px; /* Space for the icon */
    background-image: url("search_icon.png"); /* Replace with your icon path */
    background-size: 20px;
    background-position: 5px center;
    background-repeat: no-repeat;
}

.search-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
